.showQ ul li{
    width: 90%!important;
    margin:0 0 5px 0 !important;
    border: 1px solid #ddd;
    padding: 0 10px!important;
    border-radius: 1px;
    box-shadow: none!important;
    float:left;
}
#shows,#shows1{
    display: none;
}
#shows2{
    display:block!important;
}
#shows2 td{
    width:16.6%;
}
#print{
    display: none;
}
.tit{
    height: auto!important;
}
.td{
    max-height:20px!important;
}
.min_msg{
    width:100%!important;
}
.bodys{
    width:100%!important;
}