<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litbo.hospital.supervise.dao.PbMapper">

    <resultMap id="Map1" type="com.litbo.hospital.supervise.vo.RyVos">
        <id column="user_id" property="userId"></id>
        <result property="userName" column="user_xm"></result>
    </resultMap>
    <insert id="addPbPlan" parameterType="com.litbo.hospital.supervise.bean.PbJhVO">
            insert into pb_jh (pb_jhid,bm_id,user_id,pb_date,pbJs_date) values(
        #{pbJhid},#{bmId},#{userId},#{pbDate},#{pbJsDate}
        )
    </insert>

    <select id="getPbPlanVos" resultType="com.litbo.hospital.supervise.vo.getPbPlanVos">
        SELECT DISTINCT j.pb_jhid,j.pb_date,j.pbJs_date,b.bm_name FROM pb_jh AS j
        INNER JOIN s_bm AS b ON j.bm_id=b.bm_id
    </select>

    <select id="getPbPeople" parameterType="String" resultType="com.litbo.hospital.supervise.vo.RyVos">
        SELECT e.user_id,e.user_xm AS userName FROM pb_jh AS p
        INNER JOIN s_emp AS e ON p.user_id=e.user_id
        WHERE pb_jhid=#{id}
    </select>

    <select id="ghPeople" parameterType="String" resultType="com.litbo.hospital.supervise.vo.RyVos">
        SELECT user_id,user_xm AS userName FROM s_emp
        WHERE user_id NOT IN(
            SELECT user_id FROM pb_jh WHERE pb_jhid=#{sid}
        )
    </select>

    <select id="getBmpeople" parameterType="String" resultMap="Map1">
        select user_id, user_xm from s_emp
        where bm_id=#{bmId}
    </select>

    <insert id="insertKaoqin" parameterType="com.litbo.hospital.supervise.bean.KaoqinVO">
        insert into pb_kaoqin values (
        #{userId},#{userName},#{kaoQin}
        )
    </insert>
</mapper>