<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litbo.hospital.lifemanage.check.mapper.PlanMapper">


    <resultMap id="CheckMap" type="com.litbo.hospital.lifemanage.check.pojo.Check">
        <id column="id" property="id"></id>
        <result property="eq_id" column="eq_id"></result>
        <result property="date" column="date"></result>
        <result property="checks" column="checks"></result>
        <result property="plan_id" column="plan_id"></result>

    </resultMap>
    <insert id="insertPlan1" parameterType="com.litbo.hospital.lifemanage.check.pojo.Plan">
        insert into sg_plan(id,user_id,bm_id,plan_name,plan_date,plan_sum,panying_sum,pankui_sum,yipan_sum,plan_check,plan_file) values (
        #{id},#{user_id},#{bm_id},#{plan_name},#{plan_date},#{plan_sum},#{panying_sum},#{pankui_sum},#{yipan_sum},#{plan_check},#{plan_file}
        )
    </insert>

    <select id="getEqIdByBmId" parameterType="String" resultType="String">
        select eq_id from eq_info where eq_bmid=#{bmId} AND dbo.eq_info.eq_sbbh IS NOT NULL
    </select>
    <insert id="insertSelective"  parameterType="com.litbo.hospital.lifemanage.check.pojo.Check">
        insert into sg_check (id,eq_id,date,checks,plan_id)
        values (#{id},#{eq_id},#{date},#{checks},#{plan_id})
    </insert>
    <update id="updatetPlanSum" parameterType="int">
      update sg_plan
        <set>
            <if test="plan_sum != null and plan_sum != ''">
                plan_sum = #{plan_sum}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updataPlanCheck" parameterType="String">
        update sg_plan
        <set>
            <if test="plan_check != null and plan_check != ''">
                plan_check = #{plan_check}
            </if>
        </set>
        where id=#{plan_id}
    </update>
    <update id="updataOtherNum" parameterType="String">
        update sg_plan
        <set>
            <if test="yipan_sum != null and yipan_sum != ''">
                yipan_sum = #{yipan_sum},
            </if>
            <if test="panying_sum != null and panying_sum != ''">
                panying_sum = #{panying_sum},
            </if>
            <if test="pankui_sum != null and pankui_sum != ''">
                pankui_sum = #{pankui_sum},
            </if>
            <if test="plan_file != null and plan_file != ''">
                plan_file = #{plan_file}
            </if>
        </set>

        where id=#{pdJhid}
    </update>
    <select id="findPlanId" parameterType="String" resultType="String" >
        select plan_id from sg_check where id=#{id}
    </select>


    <select id="fileStatus" parameterType="String" resultType="String">
        select plan_file from sg_plan where id=#{plan_id}
    </select>
</mapper>