html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
}
*{margin:0;padding:0;}

.bgs{
    border:1px solid #000;
    margin-top: 150px;
    height: 400px;
    border-radius: 5px;
}